/* @import "/src/node_modules/bootstrap/scss/variables"; */
@font-face {
    font-family: Teutonic;
    src: url("src/fonts/teutonic1.ttf") format('truetype'); 
}

body {
    margin: 0;
    padding: 0;
    width: 100% !important;
}

h1 {
    font-family: Teutonic !important;
}

div.container:not(#nav) {
    padding: 0 30px 80px;
}

nav {
    padding: 30px !important;
    color: #6f42c1 !important;
}

.bg-light {
    background-color: #C5D025 !important;
}

h2 {
    padding-bottom: 50px !important;
}

.container-text {
    margin-bottom: 50px;
}

.radius-card {
    border-radius: 30px !important;
    -webkit-box-shadow: 0px 0px 32px -3px rgba(118,53,210,1);
    -moz-box-shadow: 0px 0px 32px -3px rgba(118,53,210,1);
    box-shadow: 0px 0px 32px -3px rgba(118,53,210,1);
    margin-right: 50px;
    padding: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
